body {
  overflow-x: hidden;
}

#navtop {
  display: none;
}

header .head {
  background-color: rgb(247, 211, 217);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 12;
}

#mobile-nav-toggle {
  position: fixed;
  right: 20px;
  top: 0;
  z-index: 999;
  margin: 14px 0px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: inline;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

#mobile-nav-toggle i {
  color: rgb(77, 75, 75);
}
/* Mobile Nav Styling*/
#mobile-nav {
  display: block;
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700;
  /* font-family: "Montserrat", sans-serif;*/
}

#mobile-nav ul li a:hover {
  color: pink;
}

#mobile-nav ul li {
  padding-left: 30px;
}

#mobile-nav ul li.menu-active a {
  color: pink;
}

#mobile-nav ul .menu-item-active {
  color: pink;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

/* Mobile Nav body classes*/
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}
/* showcase */
header .showcase {
  margin-top: 30px;
}

header .showcase h1 {
  font-size: 50px;
  width: 100%;
  line-height: 3rem;
  padding: 0 2px;
}

header .showcase p {
  text-transform: capitalize;
  font-size: 25px;
  padding-top: 25px;
  width: 100%;
  line-height: 2rem;
  padding-top: 20px;
}

header .circle {
  bottom: 10px;
}

header .showcase .btn {
  margin-top: 40px;
}

/*home what we do*/
#home .home-a .home-a-main .home-make {
  grid-template-columns: 1fr;
}
#home .home-a .home-a-main .home-what h2 {
  font-size: 35px;
}

#home .home-a .home-a-main .home-what p {
  width: 90%;
}

#home-b .home-b-main .home-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 30px 0px;
}

#home-b .home-b-main ul {
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0;
}
#home-b .home-b-main ul li {
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 10px;
  font-size: 10px;
  background-color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* about*/
#about .about-a .about-title h2 {
  font-size: 35px;
}

#about .about-a .about-title p {
  width: 90%;
}

#about .about-a .about-flex {
  display: grid;
  grid-template-columns: 1fr;
}

.about-c .about-choose {
  margin-left: 10px;
  margin-right: 10px;
}

.about-c .about-choose p {
  width: 100%;
}

.about-c .about-choose h2 {
  font-size: 35px;
  line-height: 2rem;
}

/* services*/
#service .service-help .service-title h2 {
  font-size: 35px;
  line-height: 2rem;
}

#service .service-help .service-title p {
  width: 90%;
}

#service .service-help .service-flex {
  display: grid;
  grid-template-columns: 1fr;
}

/* contact */
#contact .contact-b form .contact-input {
  grid-template-columns: 1fr;
}

#contact .contact-b form {
  margin-left: 10px;
  margin-right: 10px;
}

/* link */

#links .link-all {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

#links .link-all .link-c ul {
  color: #fff;
  margin-left: 0px;
}
/* arrow up*/

/* footer*/
footer p {
  font-size: 16px;
}

#links .link-all .link-c ul li span {
  padding-left: 4px;
}
